.product {
    align-items: center;
    background-color: white;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 10px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__rating {
    color: #cd9042;
}

.product>button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
    margin-top: 10px;
}